.shop-cards {
  background-color: #eff2f1;
  padding: 7rem 0 12rem 0;
}

.shop-cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  animation: fade 1s;
}

span {
  color: #2f2f2f;
}

.shop-card-item {
  text-align: center;
  width: 23%;
  height: 100%;
}
.shop-card-item h2 {
  font-weight: 600;
  color: #2f2f2f;
  font-size: 16px;
  margin-bottom: 8px;
}

.shop-card-item span {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 30px;
}
.shop-card-item img {
  transition: 0.4s ease;
}
.shop-card-item:hover .shop-card-img {
  transform: translateY(-10%);
}

.shop-card-item:hover {
  background-color: #dce5e4;
  border-radius: 30px;
}

.cross-icon img {
  opacity: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 30px;
  top: 0;
  background-color: #2f2f2f;
  border-radius: 50%;
  width: 30px;
  padding: 7px;
  height: 30px;
}
.shop-card-item:hover .cross-icon img {
  opacity: 1;
  margin-top: 30px;
  transform: translateY(25%);
}
.shop-card-item.active-card {
  background-color: #dce5e4;
  border-radius: 30px;
}

@media (max-width: 862px) {
  .shop-cards {
    padding: 4rem 0 2rem 0;
  }
}
@media (max-width: 600px) {
  .shop-card-item {
    max-width: 80%;
    min-width: 80%;
  }

  .shop-card-img {
    max-width: 90%;
    min-width: 90%;
  }
  .shop-cards-list {
    align-items: center;
  }
}

@media (min-width: 600px) {
  .shop-cards-list {
    column-gap: 0;
    justify-content: space-between;
  }
}
