.shop {
  background-color: #3b5d50;
}
.header h1 {
  color: #ffff;
  font-weight: 700;
  font-size: 54px;
}

@media screen and (max-width: 600px) {
  .shop-header-bottom h1 {
    font-size: 36px;
  }
}
