.success {
  padding: 10rem 0 15rem 0;
  background-color: #eff2f1;
}

.success-title h2 {
  font-size: 5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: black;
}
.success-title {
  text-align: center;
}
.success-title p {
  color: #262626;
  font-size: 1.25rem;
}
.fa-solid.fa-check {
  border-radius: 50%;
}

.btn-end-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  column-gap: 20px;
}

.show-order-btn {
  background-color: #212529;
  color: #fff;
  padding: 10px 28px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
