.header {
  background-color: #3b5d50;
  z-index: 2;
}

.header-bottom {
  position: relative;
  display: flex;
  padding-top: 98px;
  padding-bottom: 170px;
  justify-content: space-between;
}

.modern-interior {
  width: 415px;
  animation: fade 2s, moveText 1.5s;
}
.modern-interior h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 30px;
}
.modern-interior p {
  margin-bottom: 30px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.5);
}
.shop-btn {
  display: inline-block;
  background-color: #ffc534;
  font-size: 18px;
  padding: 15px 30px;
  color: #2f2f2f;
  border-radius: 30px;
  font-weight: 600;
  margin-right: 8px;
  transition: 0.3s ease;
}
.shop-btn:hover {
  background-color: #f8b810;
}
.explore-btn {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 15px 30px;
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: 600;
}
.explore-btn:hover {
  border-color: rgb(255, 255, 255);
}
.coach {
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  z-index: 2;
  background-size: contain;
}

.lightdot {
  position: absolute;
  z-index: 1;
  right: -90px;
  top: 40px;
}
@media (max-width: 1360px) {
  .header-bottom {
    display: flex;
    flex-direction: column;
  }
  .coach {
    position: relative;
    background-size: contain;
    width: 100%;
    text-align: center;
  }
  .modern-interior {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1115px) {
  .header-bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 50px;
  }

  /* .modern-interior {
    max-width: 60%;
  } */
  .lightdot {
    display: none;
  }
}

@media (max-width: 800px) {
  .header-bottom {
    padding-bottom: 0;
  }
  .modern-interior h1 {
    font-size: 43px;
    margin-bottom: 15px;
  }
}
